<div class="shopchrome">
    <div class="shopchrome__content">
      <div class="shopchrome__content__header">
        <div class="shopchrome__content__header__ico">
          <i class="fa fa-search" aria-hidden="true"></i>
        </div>
          <input type="text">
      </div>
      <div class="shopchrome__content__chromes">
        <div class="shopchrome__content__chromes__crhome">
          1
        </div>
        <div class="shopchrome__content__chromes__crhome">
          2
        </div>
        <div class="shopchrome__content__chromes__crhome">
          3
        </div>
        <div class="shopchrome__content__chromes__crhome">
          4
        </div>
        <div class="shopchrome__content__chromes__crhome">
          5
        </div>
        <div class="shopchrome__content__chromes__crhome">
          6
        </div>
        <div class="shopchrome__content__chromes__crhome">
          7
        </div>
      </div>
    </div>
  </div>
  