<div class="sms">
  <div class="sms__titulo">
    Codigo de verificación
  </div>
  <div class="sms__titulo2">
    Ingresa el codigo de verificacion recibido
  </div>
  <div class="sms__numero">
    <div class="sms__numero__num"></div>
    <div class="sms__numero__num"></div>
    <div class="sms__numero__num"></div>
    <div class="sms__numero__num"></div>
  </div>
  <div class="sms__footer">
    <div class="sms__footer__content">
      <div class="sms__footer__content__fila">
        <div class="sms__footer__content__fila__columna">
          1
        </div>
        <div class="sms__footer__content__fila__columna">
          2
        </div>
        <div class="sms__footer__content__fila__columna">
          3
        </div>
      </div>
      <div class="sms__footer__content__fila">
        <div class="sms__footer__content__fila__columna">
          4
        </div>
        <div class="sms__footer__content__fila__columna">
          5
        </div>
        <div class="sms__footer__content__fila__columna">
          6
        </div>
      </div>
      <div class="sms__footer__content__fila">
        <div class="sms__footer__content__fila__columna">
          7
        </div>
        <div class="sms__footer__content__fila__columna">
          8
        </div>
        <div class="sms__footer__content__fila__columna">
          9
        </div>
      </div>
      <div class="sms__footer__content__fila">
        <div class="sms__footer__content__fila__columna">
          
        </div>
        <div class="sms__footer__content__fila__columna">
          0
        </div>
        <div class="sms__footer__content__fila__columna" >
          <a [routerLink]="['/albumes']"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    
</div>
</div>

