.app {
    
    position: relative;
    height: 100vh;
    width: 100%;
    &__header {
        position: fixed;
        width: 100%;
        height: 30%;
        background: linear-gradient(to top, #25cdbc, #3ed6b6, #6ce4aa, #82EAA3,#85db92 );
        -webkit-box-shadow: 0px 1px 5px 0px rgba(173,173,173,1);
        -moz-box-shadow: 0px 1px 5px 0px rgba(173,173,173,1);
        box-shadow: 0px 1px 5px 0px rgba(173,173,173,1);
        overflow: hidden;
        &__circle1 {
            position: absolute;
            background: rgba(255, 255, 255, .2);
            width: 300px;
            height: 300px;
            border-radius: 50%;
            top: -170px;
            left: -149px;
        }
        &__circle2 {
            position: absolute;
            background: rgba(255, 255, 255, .2);
            width: 300px;
            height: 200px;
            border-radius: 50%;
            top: -149px;
            left: 12%;
        }
        &__circle3 {
            position: relative;
            background: rgba(255, 255, 255, .2);
            width: 300px;
            height: 250px;
            border-radius: 50%;
            bottom: -105px;
            right: -45%;
        }
        &__circle4 {
            position: relative;
            background: rgba(255, 255, 255, .2);
            width: 300px;
            height: 250px;
            border-radius: 50%;
            bottom: 230px;
            right: -75%;
        }
        &__logo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 50px;
            height: 50px;
            background: black;
            top:20%;
            left: 20px;
            border-radius: 50%;
            color: white;
        }
        &__phone {
            position: absolute;
            width: 170px;
            height: 50px;
            top: 20%;
            right: 17px;
            border-radius: 10px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background: #fefffd;
            color: #23cebb;
            font-size: 20px;
        }
        &__creditlbl{
            position: absolute;
            width: 70%;
            height: 50px;
            color: white;
            top: 55%;
            left: 20px;
            border-radius: 50%;
        }
        &__creditval{
            position: absolute;
            width: 50%;
            height: 50px;
            color: white;
            top: 64%;
            left: 15px;
            border-radius: 50%;
            font-size: 40px;
        }
    }
    &__body {
        position: fixed;
        width: 100%;
        height: 60%;
        overflow-x: hidden;
        overflow-y: scroll;
        top: 30%;
    }
    &__footer {
        position: fixed;
        bottom: 2px;
        width: 100%;
        height: 10%;
        background: #ffffff;
        &__menu {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            &__option {
                width: 20%;
                height: 100%;  
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color:#d0d1d3;
                &__plus {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: linear-gradient(to top, #25cdbc, #3ed6b6, #6ce4aa, #82EAA3,#85db92 );
                    width: 50px;
                    height: 50px;
                    color:white;
                    font-size: 40px;
                    border-radius: 50%;
                    -webkit-box-shadow: 0px 1px 5px 0px rgba(173,173,173,1);
                    -moz-box-shadow: 0px 1px 5px 0px rgba(173,173,173,1);
                    box-shadow: 0px 1px 5px 0px rgba(173,173,173,1);
                }
                span {
                    color: black;
                    font-size: 10px;
                }
            }
        }
    }
}