<div class="app" *ngIf="!keyAlbum">
  <div class="app__header">
    <div class="app__header__circle1"></div>
    <div class="app__header__circle2"></div>
    <div class="app__header__circle3"></div>
    <div class="app__header__circle4"></div>
    <div class="app__header__logo">L</div>
    <div class="app__header__phone">
      3015175575
    </div>
    <div class="app__header__creditlbl">
      Creditos disponibles
    </div>
    <div class="app__header__creditval">
      250.000 C
    </div>
    <div class="app__header__shoppingcart" [routerLink]="['shopping']">
      <div class="app__header__shoppingcart__number">
        100
      </div>
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
    </div>
  </div>
  <router-outlet class="app__body"></router-outlet>
  <div class="app__footer">
    <div class="app__footer__menu">
      <div class="app__footer__menu__option" [routerLink]="['initial']" [routerLinkActive]="'app__footer__menu__option__active'">
        <i class="fa fa-square-o fa-2x" aria-hidden="true"></i>
        <span>Resumen</span>
      </div>
      <div class="app__footer__menu__option" [routerLink]="['favorites']" [routerLinkActive]="'app__footer__menu__option__active'">
        <i class="fa fa-heart-o fa-2x" aria-hidden="true"></i>
        <span>Favoritos</span>
      </div>
      <div class="app__footer__menu__option" [routerLink]="['albums']" [routerLinkActive]="'app__footer__menu__option__active'">
        <i class="fa fa-inbox fa-2x" aria-hidden="true"></i>
        <span>Mis Albumes</span>
      </div>
      <div class="app__footer__menu__option" [routerLink]="['menu']" [routerLinkActive]="'app__footer__menu__option__active'">
        <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
        <span>Menú</span>
      </div> 
      <div class="app__footer__menu__option" [routerLink]="['shopchrome']">
        <div class="app__footer__menu__option__plus">
          +
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="chrome">
  <app-chrome></app-chrome>
</div>-->

<app-validation *ngIf="keyAlbum"></app-validation>