
<div class="initial">
  <div class="initial__content">
      <div class="initial__content__header">
          <span class="initial__content__header__title">Últimas compras</span> 
          
      </div>
    
      <div class="initial__content__crhomes">
          
          <div _ngcontent-hau-c2="" class="crhome" (click)="showChromeModal(chrome)" *ngFor="let chrome of chromes">
            
            <div class="crhome__backg" [attr.data-up]="chrome.up" [attr.data-dw]="chrome.dw">
              <div class="crhome__backg__content" >
                  <canvas id="{{chrome.id}}" class="crhome__backg__content__canvas" ></canvas>
                  <div class="crhome__backg__content__data">{{chrome.b10}}</div>
              </div>
            </div>
          </div>
          
        
        
      </div>
       
      <div class="initial__content__historial">
        <button [routerLink]="['/history']"><i class="fa fa-search" aria-hidden="true"></i> Ver historial...</button>
      </div>
  </div>
</div>