
<div class="initial">
  <div class="initial__content">
      <div class="initial__content__header">
          <span class="initial__content__header__title">Últimas compras</span> 
          <span class="initial__content__header__subtitle">$2.500 ></span> 
      </div>
      <div class="initial__content__carrusel">
        <div class="initial__content__carrusel__crhomes">
          <div class="initial__content__carrusel__crhomes__crhome">
            1
          </div>
          <div class="initial__content__carrusel__crhomes__crhome">
            2
          </div>
          <div class="initial__content__carrusel__crhomes__crhome">
            3
          </div>
          <div class="initial__content__carrusel__crhomes__crhome">
            4
          </div>
          <div class="initial__content__carrusel__crhomes__crhome">
            5
          </div>
        </div>
      </div>

      <div class="initial__content__header">
          <span class="initial__content__header__title">Cromos populares</span> 
      </div>

      <div class="initial__content__popular">
          <div class="initial__content__popular__chromes">
            <div class="initial__content__popular__chromes__chrome">
                <div class="initial__content__popular__chromes__chrome__img">
                    <img src="https://dummyimage.com/105x100/949494/ffffff" alt="">
                    
                </div>
                <div class="initial__content__popular__chromes__chrome__name">
                  <span class="initial__content__popular__chromes__chrome__name__title">
                      Cromo 1
                  </span>
                  <span class="initial__content__popular__chromes__chrome__name__value">
                      $800
                  </span>
                </div>
            </div>
          
            <div class="initial__content__popular__chromes__chrome">
                <div class="initial__content__popular__chromes__chrome__img">
                    <img src="https://dummyimage.com/105x100/949494/ffffff" alt="">
                    
                </div>
                <div class="initial__content__popular__chromes__chrome__name">
                  <span class="initial__content__popular__chromes__chrome__name__title">
                      Cromo 1
                  </span>
                  <span class="initial__content__popular__chromes__chrome__name__value">
                      $1.200
                  </span>
                </div>
            </div>
          
            <div class="initial__content__popular__chromes__chrome">
                <div class="initial__content__popular__chromes__chrome__img">
                    <img src="https://dummyimage.com/105x100/949494/ffffff" alt="">
                    
                </div>
                <div class="initial__content__popular__chromes__chrome__name">
                  <span class="initial__content__popular__chromes__chrome__name__title">
                      Cromo 1
                  </span>
                  <span class="initial__content__popular__chromes__chrome__name__value">
                      $500
                  </span>
                </div>
            </div>
          
            <div class="initial__content__popular__chromes__chrome">
                <div class="initial__content__popular__chromes__chrome__img">
                    <img src="https://dummyimage.com/105x100/949494/ffffff" alt="">
                    
                </div>
                <div class="initial__content__popular__chromes__chrome__name">
                  <span class="initial__content__popular__chromes__chrome__name__title">
                      Cromo 1
                  </span>
                  <span class="initial__content__popular__chromes__chrome__name__value">
                      $1.800
                  </span>
                </div>
            </div>
          
            <div class="initial__content__popular__chromes__chrome">
                <div class="initial__content__popular__chromes__chrome__img">
                    <img src="https://dummyimage.com/105x100/949494/ffffff" alt="">
                    
                </div>
                <div class="initial__content__popular__chromes__chrome__name">
                  <span class="initial__content__popular__chromes__chrome__name__title">
                      Cromo 1
                  </span>
                  <span class="initial__content__popular__chromes__chrome__name__value">
                      $800
                  </span>
                </div>
            </div>
          
          </div>
      </div>
  </div>
</div>