.initial{    
    width: 99%;
    margin-left:10px;
    margin-right:10px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-bottom: 20px;
    &__content{
        width: 97%;
        &__header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
            margin-bottom: 18px;
            &__title {
                font-size: 22px;
                &::after {
                    content: '';
                    display: block;
                    height: 4px;
                    width: 50px;
                    background: #65e2ac;
                    margin: 3px 0 0 2px;
                }
            }
            &__subtitle {
                font-size: 15px;
                color: #7f8085;
            }
        }

        &__crhomes{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            width: 100%;
            overflow-x: hidden;
            overflow-y: scroll;
            margin-bottom: 30px;
            padding: 10px;
            &__crhome{
                
            }
        }
            
        &__historial{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            width: 99%;
            margin-bottom: 50px;
            button {
                width: 90%;
            }
        }
    }
}

