<div class="chrome">
  <div class="chrome__header">
    <i class="fa fa-times " aria-hidden="true"></i>
  </div>
  <div class="chrome__img">
    <img src="https://dummyimage.com/300x178/b8b8b8/fff" alt="">
  </div>
  <div class="chrome__value">
    280 C
  </div>
  <div class="chrome__description"></div>
  <div class="chrome__cart">
    <button>-</button>
    <input type="text">
    <button>+</button>
  </div>
  <div class="chrome__shop">
    <button>
      <i class="fa fa-cart-plus" aria-hidden="true"></i>
      Agregar al carrito
    </button>
  </div>
  
</div>
