<div class="shopping">
  <div class="shopping__content">
    
    <div class="shopping__content__chromes">
      
      <div class="shopping__content__chromes__crhome">
          <div class="shopping__content__chromes__crhome__img">C</div>
          <div class="shopping__content__chromes__crhome__name">
            Chrome #1
          </div>
          <div class="shopping__content__chromes__crhome__value">
            250 C
          </div>
      </div>
      <div class="shopping__content__chromes__crhome">
          <div class="shopping__content__chromes__crhome__img">C</div>
          <div class="shopping__content__chromes__crhome__name">
            Chrome #1
          </div>
          <div class="shopping__content__chromes__crhome__value">
            250 C
          </div>
      </div>
      <div class="shopping__content__chromes__crhome">
          <div class="shopping__content__chromes__crhome__img">C</div>
          <div class="shopping__content__chromes__crhome__name">
            Chrome #1
          </div>
          <div class="shopping__content__chromes__crhome__value">
            250 C
          </div>
      </div>
      <div class="shopping__content__chromes__crhome">
          <div class="shopping__content__chromes__crhome__img">C</div>
          <div class="shopping__content__chromes__crhome__name">
            Chrome #1
          </div>
          <div class="shopping__content__chromes__crhome__value">
            250 C
          </div>
      </div>      
    </div>

    <div class="shopping__content__chromes__total">
        <div class="shopping__content__chromes__total__name">
            Total:
          </div>
          <div class="shopping__content__chromes__total__value">
            2.850 C
          </div>
    </div>

    <div class="shopping__content__chromes__button">
        <button><i class="fa fa-cart-plus" aria-hidden="true"></i> Comprar</button>
    </div>
    
  </div>
</div>
