<div class="shopping">
  <div class="shopping__content">
    
    <div class="shopping__content__chromes">
      
      <div class="shopping__content__chromes__crhome" *ngFor="let chrome of crhomes">
          <div class="shopping__content__chromes__crhome__img">C</div>
          <div class="shopping__content__chromes__crhome__name">
            {{chrome.b10}}
          </div>
          <div class="shopping__content__chromes__crhome__value">
              {{chrome.dw}}
          </div>
      </div>
           
    </div>

    <div class="shopping__content__chromes__total">
        <div class="shopping__content__chromes__total__name">
            Total:
          </div>
          <div class="shopping__content__chromes__total__value">
            {{total}} C
          </div>
    </div>

    <div class="shopping__content__chromes__button">
        <button (click)="shop()"><i class="fa fa-cart-plus" aria-hidden="true"></i> Comprar</button>
    </div>
    
  </div>
</div>
