<div class="menu">
    <div class="menu__content">
      
      <div class="menu__content__chromes">
        
        <div class="menu__content__chromes__crhome">
            <div class="menu__content__chromes__crhome__name">
              <i class="fa fa-share-alt" aria-hidden="true"></i>
            </div>
            <div class="menu__content__chromes__crhome__value">
                Compartir App
            </div>
        </div>    
        
        <div class="menu__content__chromes__crhome">
            <div class="menu__content__chromes__crhome__name">
              <i class="fa fa-external-link" aria-hidden="true"></i>
            </div>
            <div class="menu__content__chromes__crhome__value">
                Cerrar sesion
            </div>
        </div>    
      </div>
  
      
    </div>
  </div>
  