<div class="albums">
    <div class="albums__content">
      
      <div class="albums__content__chromes" infiniteScroll
      [infiniteScrollDistance]="1"
      [infiniteScrollThrottle]="300"
      (scrolled)="onScroll()"
      [scrollWindow]="false">
        
        <div class="albums__content__chromes__crhome" [routerLink]="['/chromes', album.id]" *ngFor="let album of albums">
            <div class="albums__content__chromes__crhome__img">C</div>
            <div class="albums__content__chromes__crhome__name">
              &nbsp;&nbsp; {{album.title}} #{{album.id}}
            </div>
        </div>
           
      </div>
      
    </div>
  </div>
  